# Set to production when deploying to production
NODE_ENV=development

# Node.js server configuration
SERVER_PORT=
HOST_URL=http://localhost:${SERVER_PORT}

# Database Postgres configuration
CASSANDRA_USER=
CASSANDRA_PASSWORD=
CASSANDRA_CLUSTER_NAME=

# Nginx env
NGINX_HOST=
NGINX_PORT=
