# Set to production when deploying to production
NODE_ENV=development

# Node.js server configuration
SERVER_PORT=3000
HOST_URL=http://localhost:${SERVER_PORT}
HASHID_SALT=KFCsalt

# Redis INCR
INCR_PORT=3379
INCR_URL=redis://localhost:${INCR_PORT}

# Redis CACHE
CACHE_PORT=4379
CACHE_URL=redis://localhost:${CACHE_PORT}

# Database Postgres configuration
CASSANDRA_USER=admin
CASSANDRA_PASSWORD=admin
CASSANDRA_CLUSTER_NAME=cassandracluster

# Nginx env
NGINX_HOST=localhost
NGINX_PORT=80
